<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>people</title>
    <link rel="stylesheet" href="/styles/style.css">
    <style type="text/css">
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
  </style>
</head>
<body>

<h1>Accounts list</h1>
<table style="color: yellow, border: 1px solid">
    <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>ROLE</th>
        <th>PASSWORD</th>
    </tr>
    <tr data-th-each="user : ${users}">
        <td data-th-text="${user.getUsername()}">...</td>
        <td data-th-text="${user.getEmail()}">...</td>
        <td data-th-text="${user.getRole()}">...</td>
        <td data-th-text="${user.getPassword()}">...</td>
    </tr>
</table>

<form th:action="@{/home}" method="get">

    <input type="submit" value="home"/>
</form>
</body>
</html>