<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>people</title>
</head>
<body>
<tr th:each="person : ${people}">
    <td th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName()  + ', ' + person.getEmail()+ ', ' + person.getPassword+ ', ' + person.getRole()}">user</td>
</tr>
<form th:action="@{/home}" method="get">

    <table>
        <tr data-th-each="user : ${users}">
            <td data-th-text="${user.login}">...</td>
            <td data-th-text="${user.name}">...</td>
        </tr>
    </table>


    <input type="submit" value="home"/>
</form>
</body>
</html>